p#pogrubienie_cieszewski{
    font-size: 36px;
    color: #7F5DCF;
}
p#pochylona_cieszewski{
    font-size: 41pt;
    color: #E3C16B;
}
p#index_gorny_cieszewski{
    font-size: 1,6cm;
    color: #938F1B;
}
p#index_dolny_cieszewski{
    font-size: 2,7cm;
    color: rgb(18,95,89);
}
p#mono_cieszewski{
    font-size: 46px;
    color: #13DF6B;
}
p#powiekszenie_cieszewski{
    color: #763F9D;
}
p#pomniejszane_cieszewski{
    color: rgb(69,64,22);
}
